/*area general*/
.container__informacion{
    background-color: #303030;
    
}

/*area informacion peliculas*/
.container__informacion{
   padding-top: 3%;
}
.portada__pelicula{
    width: 20%;
    height: 300;
}

