/*area general*/
.Detalle__principal{
    background-color: black;
}

/*area informacion peliculas*/
.container__informacion{
   padding-top: 100px;
}
.portada__pelicula{
    width: 20%;
    height: 300;
}

