#progress{
  position: fixed;
  top: 0;
  width: 0;
  background: tomato;
  height: 1rem;
  animation: progress-grow auto linear;
  animation-timeline: scroll( block);
  
}
@keyframes progress-grow {
  0%{width: 0%;}
  100%{width: 100%;}
}
.container__home{
   padding-top: 2.5rem;
   background: hsla(220, 17%, 7%, 1);
}
.buscador__home{
 margin-left: 30%;
display: flex;
  padding-bottom: 50px;
  
  }
  
  .buscador__barrah{
      background-color: aliceblue;
      padding-left: 25%;
      border-top-left-radius: 30px;
      border-bottom-left-radius:30px ;
      border-color: tomato;
      font-size: 25px;
      border: 2px;
      color: black;
  }
  .buscador__botonh{
      background: hsla(250, 6%, 20%, 1);
     font-size: 25px;
     
     color: #fffdf8;
      padding-right: 4%;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
 
  
  }
  .buscador__botonh:hover{
      
     box-shadow: 0 0 20px tomato;
     
  }
.text__white{
  color: aliceblue;
}
.tags{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 30px;
   }
.tag{
  color: #fffdf8;
       padding: 10px 20px;
       background-color:hsla(250, 6%, 20%, 1);
       border-radius: 50px;
       margin: 5px;
       display: inline-block;
       cursor: pointer;
       border: none;
       font-weight: bold;
       border: 2px solid #0a4352;

       }
       .tag:hover{
        color: #f4cc70;
        border: 2px solid  #f4cc70;
       }
       
       
.banner{
         width: 60%;
         min-height: 600px;
       background-size: cover;
       margin-left: 20%;
       position: relative;
       display: flex;
       align-items: flex-end;
       }
    .etiqueta__generos{
        
        list-style: none;
        align-items: center;
        
    }

    /*Area de banner de peliculas */
.container__peliculas{
  padding-top: 100px;
  margin-bottom: 70px;
  width: 95%;
  align-items: center;
  padding-left: 2.5%;
}

.peliculas__seccion{
  display: flex;
  justify-content: space-between;
  flex: end;
}
.peliculas__seccion h3{
  font-size: 30px;
 color: #fff;
}

.container__peliculas .container__principal{
  display: flex;
  align-items: center;
  position: relative;
}

.container__peliculas .container__principal .flecha__izquierda,
.container__peliculas .container__principal .flecha__derecha{
position: absolute;
border: none;
background: rgba(0,0,0,0.3);
font-size: 40px;
height: 50%;
top: calc(50%-25%);
line-height: 40px;
width: 50px;
color: #fff;
cursor: pointer;
z-index: 500;
transition: .2s ease all;
}
.container__peliculas .container__principal .flecha__izquierda:hover,
.container__peliculas .container__principal .flecha__derecha:hover{
background: rgba(0,0,0.9);
}
.container__peliculas .container__principal .flecha__izquierda{
  left: 0;
}
.container__peliculas .container__principal .flecha__derecha{
  right: 0;
}
.img_tamaño{
  height: 450;
}

/*contenedor carousel*/
.container__peliculas .container__carousel{
  width: 100%;
  padding: 20px 0 ;
  overflow: hidden;
  scroll-behavior: smooth;
}
.container__peliculas .container__carousel .carousel{
  display: flex;
  flex-wrap:nowrap ;

}
.container__peliculas .container__carousel .carousel .Opciones__peliculas{
  min-width: 20%;
  transition: 3s ease all;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
}
.container__peliculas .container__carousel .carousel .Opciones__peliculas.hover {
  transform: scale(1.2);
  transform-origin: center;
}
.container__peliculas .container__carousel .carousel .Opciones__peliculas img{
  width: 100%;
  vertical-align: top ;
}
/*indicadores para carousel mejor rankeados */
.container__peliculas2 .container__principal2 .flecha__izquierda_top_rated,
.container__peliculas2 .container__principal2 .flecha__derecha_top_rated{
position: absolute;
border: none;
background: rgba(0,0,0,0.3);
font-size: 40px;
height: 50%;
top: calc(50%-25%);
line-height: 40px;
width: 50px;
color: #fff;
cursor: pointer;
z-index: 500;
transition: .2s ease all;
}
.container__peliculas2 .container__principal2 .flecha__izquierda_top_rated:hover,
.container__peliculas2 .container__principal2 .flecha__derecha_top_rated:hover{
background: rgba(0,0,0.9);
}
.container__peliculas2 .container__principal2 .flecha__izquierda_top_rated{
  left: 0;
}
.container__peliculas2 .container__principal2 .flecha__derecha_top_rated{
  right: 0;
}
.container__peliculas2 .container__carousel2{
  width: 100%;
  padding: 20px 0 ;
  overflow: hidden;
  scroll-behavior: smooth;
}
.container__peliculas2 .container__carousel2 .carousel4{
  display: flex;
  flex-wrap:nowrap ;

}

.container__peliculas2 .container__carousel2 .carousel4 .Opciones__peliculas2{
  min-width: 20%;
  transition: 3s ease all;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
}
.container__peliculas2 .container__carousel2 .carousel4 .Opciones__peliculas2.hover {
  transform: scale(1.2);
  transform-origin: center;
}
.container__peliculas2 .container__carousel2 .carousel4 .Opciones__peliculas2 img{
  width: 100%;
  vertical-align: top ;
}
/*carousel proximas a salir */
.container__peliculas3{
  padding-top: 100px;
  margin-bottom: 70px;
  width: 95%;
  align-items: center;
  padding-left: 2.5%;
}

.peliculas__seccion3{
  display: flex;
  justify-content: space-between;
  flex: end;
}
.peliculas__seccion3 h3{
  font-size: 30px;
 color: #fff;
}

.container__peliculas3 .container__principalproximas{
  display: flex;
  align-items: center;
  position: relative;
}

.container__peliculas3 .container__principalproximas .flecha__izquierda_proximas,
.container__peliculas3 .container__principalproximas .flecha__derecha_proximas{
position: absolute;
border: none;
background: rgba(0,0,0,0.3);
font-size: 40px;
height: 50%;
top: calc(50%-25%);
line-height: 40px;
width: 50px;
color: #fff;
cursor: pointer;
z-index: 500;
transition: .2s ease all;
}
.container__peliculas3 .container__principalproximas .flecha__izquierda_proximas:hover,
.container__peliculas3 .container__principalproximas .flecha__derecha_proximas:hover{
background: rgba(0,0,0.9);
}
.container__peliculas3 .container__principalproximas .flecha__izquierda_proximas{
  left: 0;
}
.container__peliculas3 .container__principalproximas .flecha__derecha_proximas{
  right: 0;
}
.img_tamaño{
  height: 450;
}
/*contenedor carousel*/
.container__peliculas3 .container__proximas{
  width: 100%;
  padding: 20px 0 ;
  overflow: hidden;
  scroll-behavior: smooth;
}
.container__peliculas3 .container__proximas .carousel5{
  display: flex;
  flex-wrap:nowrap ;

}
.container__peliculas3 .container__proximas .carousel5 .Opciones__proximas{
  min-width: 20%;
  transition: 3s ease all;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
}
.container__peliculas3 .container__proximas .carousel5 .Opciones__proximas.hover {
  transform: scale(1.2);
  transform-origin: center;
}
.container__peliculas3 .container__proximas .carousel5 .Opciones__proximas img{
  width: 100%;
  vertical-align: top ;
}
/*responsivo*/
@media(max-width: 1024px) {

  .buscador__home{
    margin-left: 20%;
    border-right: 30px;
  }
  
    
}
@media(max-width: 800px)  {
  .tags{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr  1fr  1fr ;
    column-gap: 20px;
    row-gap: 20px;
    padding: 80px;
    padding-top: 10px;
    
  }
  .tag{
    color:  #f4cc70;
     background-color:hsla(250, 6%, 20%, 1);
     border-radius: 50px;
     margin: 5px;
     display: inline-block;
     cursor: pointer;
     border: none;
     font-weight: bold;
     border: 2px solid #0a4352;
     width: 150px auto;

     }
     .tag:hover{
      color: #f4cc70;
      border: 2px solid  #f4cc70;
     }
     
  .buscador__home{
    margin-left: 30px;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
  
  }
  .buscador__barrah{
  
   width: 100%;
   text-align: center;
   padding-left: 0;
  }
  .buscador__botonh{
   margin-top: 10px;
   font-size: auto;
   margin-bottom: 10px;
   width: 20%;
   text-align: center;
   padding-right: 0;
  }
  .peliculas__recomendadas{
      overflow: visible;

  }
  
  .peliculas__recomendadas .container__carousel .carousel{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
  }
  .peliculas__recomendadas .indicadores__peliculas,
  .peliculas__recomendadas .flecha__izquierda,
  .peliculas__recomendadas .flecha__derecha{
      display: none;
  }
}


