.Container__inicio {
    display: flex;
    background: hsla(250, 6%, 20%, 1);
}

/*css para la lista de generos */
.categorias {
    width: 100%;
    height: 100%;
    border-right: 1px solid black;
    background: hsla(220, 17%, 7%, 1);
    align-items: center;
    padding: 2%;
    padding-right: 5%;
    padding-left: 2%;


}

.lista__generos {
    margin-bottom: 3rem;


}

.titulo {
    padding-top: 10%;
    text-align: center;
    color: aliceblue;
}

.generos {
    padding-top: 12%;
    list-style: none;
    align-items: center;
    padding-right: 40px;
    padding-left: 40px;

}

.categorias__hamburguesa {
    display: none;
}

.nombre__genero {

    color: #f4cc70;
    background: hsla(220, 17%, 7%, 1);
    border-radius: 50px;
    margin: 3px;
    display: inline-block;
    cursor: pointer;
    border: none;
    font-weight: bold;



}

.nombre__genero:hover {
    color: #de7a22;
}


.seccion__2 {
    padding-top: 3%;
}

/*seccion del buscador */
.buscador {
    padding: 2%;


}

.buscador__barra {
    background-color: aliceblue;
    padding-left: 25%;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-color: #f4cc70;
    font-size: 25px;
    border: 2px;
    color: black;

}

.buscador__boton {
    background: hsla(250, 6%, 20%, 1);
    font-size: 25px;
    border-color: #f4cc70;
    color: #f4cc70;
    padding-right: 4%;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;

}

.buscador__boton:hover {

    box-shadow: 0 0 20px #f4cc70;

}

/*Seccion banner*/
.banner__inicio {
    width: 90%;
    min-height: 600px;
    background-size: cover;
    margin-left: 5%;
    display: flex;
    align-items: center;
    padding-top: 20%;
    box-shadow: 10px 0 15px rgba(0, 0, 0, 50);
    padding-left: 4%;
    border-radius: 5%;
}



.Boton__verAhora {
    background-color: rgb(245, 10, 10);
    color: #fff;
    border-radius: 6%;
    border: none;
    margin-bottom: 25px;
    width: 15%;
    height: 25%;
    font-weight: bold;


}

/*seccion carousel peliculas*/
.container__peliculas2 {
    padding-top: 40px;
    margin-bottom: 70px;
    width: 95%;
    align-items: center;
    padding-left: 2.5%;
}

.peliculas__seccion2 {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.peliculas__recomendadas2 {
    font-size: 30px;
    color: #fff;
}

.peliculas__seccion2 .indicadores_peliculas2 button {
    background-color: #fff;
    height: 3px;
    width: 10px;
    cursor: pointer;
    border: none;
    margin-right: 4px;
}

.peliculas__seccion2 .indicadores_peliculas2 button:hover,
.peliculas__seccion2 .indicadores_peliculas2 button.activo {
    background-color: red;
}

/*consiguracion  flechas*/
.container__peliculas2 .container__principal2 {
    display: flex;
    align-items: center;
    position: relative;
}

.container__peliculas2 .container__principal2 .flecha__izquierda2,
.container__peliculas2 .container__principal2 .flecha__derecha2 {
    position: absolute;
    border: none;
    background: rgba(0, 0, 0, 0.3);
    font-size: 40px;
    height: 50%;
    top: calc(50%-25%);
    line-height: 40px;
    width: 50px;
    color: #fff;
    cursor: pointer;
    z-index: 500;
    transition: .2s ease all;
}

.container__peliculas2 .container__principal .flecha__izquierda2:hover,
.container__peliculas2 .container__principal .flecha__derecha2:hover {
    background: rgba(0, 0, 0.9);
}

.container__peliculas2 .container__principal2 .flecha__izquierda2 {
    left: 0;
}

.container__peliculas2 .container__principal2 .flecha__derecha2 {
    right: 0;
}

/*contenedor carousel*/
.container__peliculas2 .container__carousel2 {
    width: 100%;
    padding: 20px 0;
    overflow: hidden;
    scroll-behavior: smooth;
}

.container__peliculas2 .container__carousel2 .carousel2 {
    display: flex;
    flex-wrap: nowrap;

}

.container__peliculas2 .container__carousel2 .carousel2 .Opciones__peliculas2 {
    min-width: 20%;
    transition: 3s ease all;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.container__peliculas2 .container__carousel2 .carousel2 .Opciones__peliculas2 img {
    width: 100%;
    vertical-align: top;
}

@media(max-width: 1024px) {}

@media(max-width: 768px) {
    .Container__inicio {
        flex-direction: column;

    }

    .categorias {
        display: none;
    }

    .categorias__hamburguesa {
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-top: 5%;
    }

    .activar__menu {
        font-size: 30px;
        color: #f4cc70;
        font-weight: bold;
    }

    .seccion__2 {
        width: 100%;
        margin-left: 0;
    }

    .banner__inicio {
        width: 100%;
        padding-left: 0;
    }

    .categorias {
        padding: 5%;
    }

    .banner__sombra {
        width: 90%;
        min-height: 100px;
    }

    .Boton__verAhora {
        width: 100%;
    }

    .lista__generos_Hamburguesa {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 10px auto;
        list-style: none;

    }

    .nombre__genero_hamburguesa {
        color: rgb(250, 250, 250);
        padding: 10px 20px;
        background-color: hsla(250, 6%, 20%, 1);
        width: 90vw;
        margin: 5px;
        display: inline-block;
        cursor: pointer;
        border: none;
        font-weight: bold;
        border-bottom: 2px solid #f4cc70;
        padding-top: 2%;
        font-size: 24px;
    }
    .nombre__genero_hamburguesa:hover{
        color: #f4cc70;
    }
    .buscador {
        display: flex;
    
    
    }
    
    .buscador__barra {
       border-radius: 0%;
       width: 90vw;
       
    
    }
    
    .buscador__boton {
       border-radius: 0%;
       padding: 2%;
       width: 50vw;
       margin-top: 2%;
    }

}