@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
.Navbar__containerhome {
  width: 100%;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  justify-content: space-between;
  align-items: center;
  display: flex;
}
.navbar__nav {
  display: flex;
  justify-content: left;
  align-items: center;
  min-height: 20vh;
  background-color: #191919;
  width: 100%;
  padding: 0;
}
.logo__navbar{
  display: flex; 
  padding-right: 15%;
  
}
.titulo__Pagina{
  font-weight: bold;
  text-decoration: none;
  font-size: 2.5rem !important; 
  margin-top: 20px;
  animation: colort 6s  infinite alternate both; 
}

.tamaño__logoN{
  width: 80px ;
  height: 80px ;
}
@keyframes colort {
  from{
    color: rgb(233, 210, 78);
  }
  to{
    color: tomato;
  }
}
.opciones__banner{
  display: flex;
}
.navbar {
  display: flex;
  text-decoration: none;
  position: relative;
  border-radius: 8px;
  background-color: #222;
  width: 100%;
  justify-content: space-evenly;
}
.navbar__ul{
  display: flex;
  margin-top: 10;
  
}
.navbar__ul span{
  position: absolute;
  top: 0%;
  left: 29%;
  width: 50px;
  height: 20%;
  background: linear-gradient( tomato, gold);
}

.item__nav{
  list-style: none;
  box-shadow: inset 0 0 0 0  rgb(230, 215, 88);
  margin: 0 -.25rem;
  padding: 0 .25rem;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  padding-top: 5%;
}



.Nvitem{
  color: aliceblue;
  font-size: 2rem;
  text-decoration: none;
  padding: 0px 30px;
}
.Nvitem:hover {
  border-color:  tomato;
}
nav .item__nav:nth-child(1):hover {
  box-shadow: inset 200px 0 0 0 rgb(255, 108, 50);
  color: #191919;
}

nav .item__nav:nth-child(2):hover {

  color: #191919;
  box-shadow: inset 220px 0 0 0 rgb(255, 108, 50);
}

nav .item__nav:nth-child(3):hover {
  color: #191919;
  box-shadow: inset 140px 0 0 0 rgb(255, 108, 50);
}
  .boton__SignOut{
    border: 0;
    background-image: linear-gradient(
        150deg,
        tomato, gold
        
    );
    border-radius: 8px;
    color: #fff;
    display: flex;
    font-size: 18px;
    padding: 4px;
    cursor: pointer;
    transition: .3s;
    font-weight: bold;
    color: #f4cc70;
    margin-left: 20%;
  }
  .boton__SignOut span{
    background-color: #111;
    padding: 16px 24px;
    border-radius: 6px;
    transition: .3s;
    color: #fffdf8;
  }

  .boton__SignOut:hover span{
   background: none;
  }
  .boton__SignOut:active{
   transform: scale(0.9);
  }
  /*responsive*/
  @media(max-width: 768px) {
    .Navbar__containerhome {
    
      flex-direction: column;
    }
  
    .item__nav {
      margin: 0 0.5rem;
      padding: 0 0.2rem;
      box-shadow: none;
      display: flex;
      
    }
   .Nvitem{
    font-size: 1rem;
   }
  
    .navbar__nav {    
      align-items: center;
    }
  
    .navbar__ul {
      align-items: center;
      flex-direction: column;
      text-decoration: none;
      position: relative;
      border-radius: 8px;
      background-color: #222;
      padding: 0 0 30px ;
      width: 100%;
    }
  
    .navbar__ul span {
      position: absolute;
      left: 28%;
      width: 40%;
      top: 27%;
      height: 4%;
      background: linear-gradient(60deg, #2e3192, #f4cc70);
      border-radius: 8px;
      transition: .5s ease;
    }
    .opciones__banner{
  flex-direction: column;
    }
    nav .item__nav:nth-child(1):hover {
      box-shadow: inset 200px 0 0 0 rgb(255, 108, 50);
      color: #191919;
    }
    
    nav .item__nav:nth-child(2):hover {
    
      color: #191919;
      box-shadow: inset 200px 0 0 0 rgb(255, 108, 50);
    }
    
    nav .item__nav:nth-child(3):hover {
      color: #191919;
      box-shadow: inset 200px 0 0 0 rgb(255, 108, 50);
    }
    .boton__SignOut {
      justify-content: center;
    }

  }