@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
.Navbar2__container{
  width: 100%;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  justify-content: space-between;
  align-items: center;
  display: flex;
}
.navbar2__nav{
  display: flex;
  justify-content: left;
  align-items: center;
  min-height: 20vh;
  background-color: #191919;
  width: 100%;
  padding: 0px 25px;
}
.logo__navbar{
  display: flex; 
  padding-right: 15%;
  
}
.titulo__Pagina{
  font-weight: bold;
  text-decoration: none;
  font-size: 2.5rem !important; 
  margin-top: 20px;
  animation: colort 6s  infinite alternate both; 
}

.tamaño__logoN{
  width: 80px ;
  height: 80px ;
}
@keyframes colort {
  from{
    color: rgb(233, 210, 78);
  }
  to{
    color: tomato;
  }
}

.navbar {
  display: flex;
  text-decoration: none;
  position: relative;
  border-radius: 8px;
  background-color: #222;
  width: 100%;
  justify-content: space-evenly;
}
.navbar2__ul{
  display: flex;
  margin-top: 10;
  
}
.navbar2__ul span{
  position: absolute;
  top: 0%;
  left: 27%;
  width: 50px;
  height: 20%;
  background: linear-gradient( tomato, gold);
  



}

.item__nav2{
  list-style: none;
  box-shadow: inset 0 0 0 0  rgb(230, 215, 88);
  margin: 0 -.25rem;
  padding: 0 .25rem;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  padding-top: 4%;
}



.Nvitem2{
  color: aliceblue;
  font-size: 2rem;
  text-decoration: none;
  padding: 0px 50px;
}
.Nvitem2:hover {
  border-color:  tomato;
}
nav .item__nav2:nth-child(2):hover {
  box-shadow: inset 200px 0 0 0 rgb(255, 108, 50);
  color: #191919;
}

nav .item__nav2:nth-child(3):hover {

  color: #191919;
  box-shadow: inset 220px 0 0 0 rgb(255, 108, 50);
}

/*diseño buscador*/
.buscador{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 8px auto;  
  }

  @media(max-width: 1408px) {
    .titulo__Pagina{
 
      font-size: 3rem;  
      color: #f4cc70;
     margin-right: 24px;
  }
  .Nvitem{
    color: aliceblue;
   font-size: 1.3rem;  
   text-decoration: none;
   padding: 25px 30px;
   margin-left: 20px;
  }
  .navbar__nav{
    padding-left: 3%;
}
.navbar__ul span{
  left: 37%;
  
}
.navbar__ul{
  display: flex;
  text-decoration: none;
  position: relative;
  border-radius: 8px;
  background-color: #222;
 }
 .item__nav{
  margin-right: 20px;
 }
 .boton__SignOut{
 margin-left: 40px;
}
nav .item__nav:nth-child(2):hover~span {
  left: 46%;
  width: 115px;
  top: 80%;
  height: 8%;
}
nav .item__nav:nth-child(3):hover~span {
  left: 68%;
  width: 110px;
  top: 80%;
  height: 8%;
}
nav .item__nav:nth-child(4):hover~span {
  left: 89%;
  width: 60px;
  top: 80%;
  height: 8%;
}
}
@media(max-width: 1235px) {
  .titulo__Pagina{
    font-size: 2.5rem;   
   margin-right: 18px;   
}
.Nvitem{
 font-size: 1.1rem;  
 padding: 25px 25px;
 margin-left: 5px;
}
.navbar__nav{
  padding-left: 3%;
}
.navbar__ul span{
left: 39%;

}

.item__nav{
margin-right: 20px;
}
.boton__SignOut{
margin-left: 20px;
}
nav .item__nav:nth-child(2):hover~span {
display: none;
}
nav .item__nav:nth-child(3):hover~span {
  display: none;
}
nav .item__nav:nth-child(4):hover~span {
  display: none;
}
}
@media(max-width: 1040px) {
  .navbar__nav {
    flex-direction: column;
    align-items: center;
    padding: 2% 0;
   
}
.navbar2__ul span{
  display: none;
  }
.logo__navbar{
  justify-content: center;
}
.navbar__nav{
  padding-right: 2%;
}

.navbar__ul span{
  display: none;
  
  }
  
}


  @media(max-width: 900px) {
    .Navbar2__container{
        justify-content: center;
        width: 100%;
        flex-direction: column;
        
    }
    .navbar__nav {    
      align-items: center;
      padding-right: 0;
      
  }
  
  .titulo__Pagina {
      font-size: 3rem;
  }
  .navbar2__ul{
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    position: relative;
    border-radius: 8px;
    background-color: #222;
    padding: 0 0 30px ;
    width: 100%;
   }
   .navbar2__ul span{
   display: none;
   }

  }
  

  